/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

#container{
  background-color: #000000
}

ul span{
  color:#004D91;
}

#test_container{
  padding:0 0;
  height:100%;
  width: 100%;
  background-color: #DEDCDD;
}

div.all_container{
  padding:1rem;
}
progress {
  width: 100%;
  background-color: #ABABAB;
  border: 0;
  height: 18px;
}